.table td {
    vertical-align: middle;
}

.navbar-brand img {
    vertical-align: text-top;
    margin-right: 5px;
}

figure img {
    border: 2px solid black;
}

figcaption {
    font-style: italic;
    color: #777;
    margin-bottom: 2ex;
}

.teaser-pic {
    float: right;
    margin-left: 1.5em;
    margin-right: 3em;
    text-align: center;
    line-height: 100%;
    font-size: 12px;
}

div.message {
    background-color: transparent;
    border: 3px solid;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 2ex;
    min-height: 50px;
}

div.message img {
    float: left;
    padding-right: 15px;
}

div.warning {
    border-color: #cc0f16;
}

div.info {
    border-color: #160fcc;
}
