    <div class="container">
      <div class="row">
        <div class="span12 pod">
          <div class="pod-header">
            <h2>Instructions for "<%= currentScenario.scenario %>"
              (in <%= currentScenario.plugin %>)</h2>
          </div>

          <div class="pod-body">
            <%- markdown(instructions) %>
          </div>

          <div class="pod-footer">
            When you are done, check the <a href="<%= baseUrl %>/scenarios">tests results</a>.
          </div>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/container-->
