    <div class="container">
      <div class="row">
        <div class="span12 pod">
          <div class="pod-header">
            <h2>Available scenarios</h2>
          </div>

<table class="table striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Started at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<%
   var hydraList = Object.keys(summoner.hydras);
   for (var i = 0, len = hydraList.length; i < len; i++) {
%>
    <tr>
      <td><%= hydraList[i] %></td>
      <td><%= summoner.hydras[hydraList[i]].startTimestamp %></td>
      <td>
        <form method="post"
          action="<%= baseUrl %>/hydras/<%= encodeURIComponent(hydraList[i]) %>">
          <input type="hidden" name="action" value="delete" />
          <button type="submit" class="btn small warning">Delete</button>
        </form>
      </td>
    </tr>
<%
   }

   if (hydraList.length === 0) {
%>
       <tr>
         <td colspan="3">
           There are no summoned hydras. This means there hasn't been any request yet.
         </td>
       </tr>
<%
   }
%>
  </tbody>
</table>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/container-->
